*~
.*.swp
.DS_Store
.vimrc
build
DerivedData
generated
cscope.*
*.epub
!test_assets/hello.epub
!test_assets/drm.epub
!test_assets/edge.epub
*.pdf
!test_blank.pdf
!test_assets/pdf_with_text.pdf
*.pnm
*.html
*.xhtml
tags
TAGS
*.xcworkspace
*.xcuserdatad
platform/win32/*.user
platform/win32/*.ncb
platform/win32/*.suo
platform/win32/Debug
platform/win32/DebugOpenssl
platform/win32/Profile
platform/win32/Release
platform/win32/ReleaseOpenssl
platform/win32/Memento
platform/win32/x64
thirdparty/v8-3.9
thirdparty/openssl
platform/android/obj
platform/android/bin
platform/android/libs
platform/android/gen
platform/android/jni/andprof
platform/android/local.properties
platform/android/.classpath
platform/android/.project
platform/android/.settings
docs/browse
include/mupdf/pdf/name-table.h
source/pdf/pdf-name-table.h
platform/android/appcompat/bin
platform/android/appcompat/gen
platform/android/cardview/bin
platform/android/cardview/gen
platform/android/design/bin
platform/android/design/gen
platform/android/recyclerview/bin
platform/android/recyclerview/gen
down vote
accepted
.gradle
local.properties
platform/android/java_pid*.hprof
# Workspace artifacts
/*.png
/geny_*.png
/penandpdf_*.png
/penandpdf_doc*.png
/penandpdf_screen*.png
/penandpdf_case*.png
/test-output/
/test_outputs/
/logcat_*.txt
/namedump
/cquote
/thirdparty_build/
/ui*.xml
/ui_dump*.xml
/uidump*.xml
/window_dump*.xml
/dashboard*.xml
/ui_menu.xml
/undo_*.pdf
