[submodule "thirdparty/jbig2dec"]
	path = thirdparty/jbig2dec
	url = https://git.ghostscript.com/jbig2dec.git
[submodule "thirdparty/mujs"]
	path = thirdparty/mujs
	url = https://git.ghostscript.com/mujs.git
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://git.ghostscript.com/thirdparty/freetype.git
[submodule "thirdparty/jpeg"]
	path = thirdparty/jpeg
	url = https://git.ghostscript.com/thirdparty/jpeg.git
[submodule "thirdparty/openjpeg"]
	path = thirdparty/openjpeg
	url = https://git.ghostscript.com/thirdparty/openjpeg.git
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://git.ghostscript.com/thirdparty/zlib.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://git.ghostscript.com/thirdparty/glfw.git
[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = https://git.ghostscript.com/thirdparty/curl.git
